.contact {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.contact__content {
  position: relative;
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;

  a {
    text-decoration: none;
    outline: none;
    position: relative;
    transition: all 0.5s ease-in-out;

    .contact__link {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      border-radius: 0;
      color: var(--whiteColor);
      font-size: 1.5rem;
      font-weight: 700;
      transition: all 0.5s ease-in-out;

      svg {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        color: var(--whiteColor);
        transition: all 0.5s ease-in-out;
      }
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
