@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/Proxima-Nova-Thin.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/ProximaNova-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/Proxima-Nova-Bold.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/Proxima-Nova-Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/Proxima-Nova-Extrabold.otf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/Proxima-Nova-Black.otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --primaryFontFace: "Proxima Nova", sans-serif;

  --primaryColor: #e3096f;
  --primaryLightColor: #dd5896;

  --linkColor: #1056be;

  --primaryGradient: linear-gradient(to right, #1c1d31, #203246);
  --boxGradient: linear-gradient(120deg, var(--darkDialogColor), #203246);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--primaryFontFace), -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
  color: var(--primaryLightColor);

  &:hover {
    color: var(--primaryColor);
  }
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.app {
  font-family: var(--primaryFontFace);
}

.spacer {
  width: 10rem;

  @media screen and (max-width: 768px) {
    width: 0;
    height: 2rem;
  }
}

p {
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 1.025rem;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 2.525rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 2.025rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 1.525rem;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 1.275rem;
  }
}

.app__outlined_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 3.75rem;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  color: var(--primaryColor);
  border: 0.12rem solid var(--primaryColor);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: var(--primaryFontFace);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  svg {
    margin-right: 0.5rem;
  }

  &:hover {
    border-color: var(--primaryLightColor);
    color: var(--primaryLightColor);
  }

  @media screen and (max-width: 900px) {
    height: 3.5rem;
  }
}

.app__filled_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 3.75rem;
  text-decoration: none;
  outline: none;
  background-color: var(--primaryColor);
  color: #fafafa;
  border: 0.12rem solid var(--primaryColor);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: var(--primaryFontFace);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  svg {
    margin-right: 0.5rem;
  }

  &:hover {
    background-color: var(--primaryLightColor);
    border-color: var(--primaryLightColor);
  }

  @media screen and (max-width: 900px) {
    height: 3.5rem;
  }
}

.app__text_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  outline: none;
  background-color: transparent;
  color: var(--primaryColor);
  border: none;
  font-size: 1.05rem;
  text-transform: capitalize;
  font-family: var(--primaryFontFace);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  svg {
    margin-right: 0.5rem;
  }

  &:hover {
    color: var(--primaryLightColor);
  }

  @media screen and (max-width: 900px) {
    font-size: 1rem;
  }
}

$slide-count: 10;
$slide-width: 30rem;

.carousel__wrap {
  margin-top: 10%;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  width: 100%;
}

.carousel__inner {
  position: relative;
  width: calc(#{$slide-width * 3});
  height: 40rem;
}

.carousel__container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel__slide-list {
  height: 100%;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);
  width: calc(#{($slide-count + 0.5) * $slide-width * 2});
}

.carousel__slide-item {
  display: inline-block;
  height: $slide-width;
  margin: 0;
  padding: 1rem;
  position: absolute;
  transition: all 0.3s;
  width: $slide-width;
}

.carousel__slide-item-img-link {
  cursor: zoom-in;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  img {
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    width: 100%;
  }

  &::after {
    align-items: center;
    background: rgba(black, 0.5);
    color: white;
    content: "read more";
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    width: 100%;
  }

  &:hover {
    &::after {
      opacity: 1;
    }

    img {
      transform: scale(1.3);
    }
  }
}

.carousel-slide-item__body {
  bottom: -2.5rem;
  height: 10%;
  position: absolute;

  h4 {
    margin: 0.7rem 0 0;
    text-transform: uppercase;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0.7rem 0 0;
  }
}

.carousel__btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  border-radius: 50%;
  padding: 1rem;
  background-color: #888;

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }
}

.carousel__btn-arrow {
  border: solid #000;
  border-width: 0 0.4rem 0.4rem 0;
  height: 1.5rem;
  width: 1.5rem;
  padding: 2px;
  display: block;
  margin: 0 auto;

  &--left {
    transform: rotate(135deg);
  }

  &--right {
    transform: rotate(-45deg);
  }
}

.carousel__dots {
  display: inline-block;
  left: 50%;
  margin-top: 2rem;
  position: absolute;
  transform: translateX(-50%);

  .dot {
    background: #ccc;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    margin: 0 0.3rem;
    outline: none;
    transform: scale(0.5);
    width: 2rem;

    &.active {
      background: black;
    }
  }
}
