.privacy {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.privacy__content {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  transition: all 0.5s ease-in-out;

  .privacy__content_list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    transition: all 0.5s ease-in-out;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .privacy__content_list_text {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .privacy__content_sublist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 0.5s ease-in-out;
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .privacy__text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 0.5s ease-in-out;
    margin: 0.25rem 0;

    .privacy__text__title {
      transition: all 0.5s ease-in-out;
      margin-right: 0.5rem;
    }

    .privacy__text__content {
      transition: all 0.5s ease-in-out;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .privacy__text_heading {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--whiteColor);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease-in-out;

    span {
      color: var(--primaryColor);
    }
  }

  .privacy__text_desc {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    .list_items {
      margin-left: 1.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .privacy__desc {
    margin-bottom: 1rem;
    transition: all 0.5s ease-in-out;
  }

  .privacy__text_tile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease-in-out;

    .privacy__text_tile_content {
      transition: all 0.5s ease-in-out;
      font-size: 1rem;
      text-transform: capitalize;
    }

    svg {
      transition: all 0.5s ease-in-out;
      color: var(--primaryColor);
      margin-right: 1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
