.profile {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__image {
  position: relative;
  width: 100%;
  min-width: 10rem;
  max-width: 20rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.profile__info {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;
}

.profile__info__name {
  color: var(--whiteColor);
}

.profile__info__uname {
  color: var(--darkerGrayColor);
}

.logout_btn {
  margin-top: 2rem;
}
