.services {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service__heading {
  width: 100%;
  position: relative;
  text-align: center;

  @media screen and (min-width: 1600px) {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 0;
    margin-bottom: 0;
    margin: 4rem;

    div {
      width: 20rem;
      text-align: start;
    }
  }
}

.service__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1600px) {
    width: 75%;
  }
}

.service__list_row {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.service__item {
  position: relative;
  width: 25%;
  max-width: 25rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background: var(--darkDialogColor);
  background: var(--boxGradient);
  cursor: pointer;
  margin: 0 2rem 4rem;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  overflow: hidden;

  .service__image {
    position: relative;
    transition: all 0.5s ease-in-out;
    z-index: 11;

    img {
      width: 4rem;
      height: 4rem;
      object-fit: cover;
      aspect-ratio: 1;
    }
  }

  .service__content {
    margin-top: 0.5rem;
    z-index: 11;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;

    .service__title {
      font-weight: 700;
      word-spacing: 0.3rem;
      color: var(--primaryColor);
      margin-bottom: 0.25rem;
    }

    .service__description {
      color: var(--lightGrayColor);
    }
  }

  @media screen and (min-width: 1600px) {
    width: 16rem;
    height: 20rem;
    margin-bottom: 4rem;
  }

  @media screen and (max-width: 1024px) {
    width: 40%;
    max-width: 30rem;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 30rem;
    height: 50vh;
    margin: 0 0 4rem;

    .service__image {
      img {
        width: 5rem;
        height: 5rem;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    overflow: hidden;

    bottom: calc(-100% + 0.5rem);
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  &:hover {
    &::before {
      bottom: 0;
      z-index: 10;
      opacity: 1;
      visibility: visible;
    }

    .service__image {
      position: absolute;
      top: 40%;
      right: 50%;
      transform: translate(50%, -50%);

      img {
        width: 6rem;
        height: 6rem;

        @media screen and (min-width: 1600px) {
          width: 5rem;
          height: 5rem;
        }

        @media screen and (max-width: 768px) {
          width: 7rem;
          height: 7rem;
        }
      }
    }

    .service__title {
      color: var(--whiteColor);
      position: absolute;
      font-weight: 900;
      bottom: 25%;
      left: 0;
      right: 0;
      text-align: center;

      @media screen and (min-width: 1600px) {
        bottom: 10%;
      }
    }

    .service__description {
      display: none;
    }
  }
}
